
  #container {
    height: 345px;
    width: 1200px;

  }
  #control-panel{
    height: 100%;
    width: 25%;
    float: left;

  }
  .chisel{
    height: 23%;
    width: 100%;
    border-style: solid; /* Стиль линии вокруг параграфа */
    padding: 0.5px;
    position: relative;

  }
  .chisel:active, .chisel-active {
    background: orange;
  }
  .chisel:active::after, .chisel-active::after {
    content: '';
    position: absolute;
    right: -50px; top: 15px;
    border: 20px solid transparent;
    border-left: 30px solid orange;
    z-index: 999;
  }
  #slider{
    height: 100%;
    width: 74%;
    float: right;
    display: inline-block;
  }
  .slide{
    transition-duration: 3s;
  }
  .hidden-img{
    display: none;
  }
