.dark{

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: 100;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.description p {
    font-size: 1.25em;
    line-height: 150%;
    margin-bottom: 1em;
}
.image{
    opacity: 0;
    display: block;
}
.active_img {
    margin: 10px auto 0;
    overflow: hidden;
    z-index: 10001;
    border: 1px solid #4c6a8a;
    opacity: 1;
    position: absolute;

}
.close-block {
    display: block;
    position: absolute;
    top: 8px;
    right: -1px;
    width: 16px;
    height: 16px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAElBMVEXqAAD8oaH/AAD/ra3/vr7///91+I/7AAAAQklEQVR42oXPwQoAIAgD0JXu/385FfTQgnYweKAp9pUXmE+swAFWAG8owQBTqjQQ8SQOcAdRQVtkqHy7dDFd/X/tAVqqAopyUfkOAAAAAElFTkSuQmCC);
    cursor: pointer;
}
