.dark{

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: 100;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.description p {
    font-size: 1.25em;
    line-height: 150%;
    margin-bottom: 1em;
}
.image{
    opacity: 0;
}
.active_img {
    margin: 10px auto 0;
    overflow: hidden;
    z-index: 10001;
    border: 1px solid #4c6a8a;
    opacity: 1;
    position: absolute;
    top:20%;
    left: 20%;
}
