
 .edit-tags a {
    color: blue;
    text-decoration: none; /* Убираем подчеркивание */
     border-bottom: 1px dashed blue;

}
 .finish-editing a {
     display: none;
     color: blue;
     text-decoration: none; /* Убираем подчеркивание */
     border-bottom: 1px dashed blue;

 }

.tag-remove {
    display: none;
    float: left;
    top: 8px;
    right: -1px;
    width: 7px;
    height: 7px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAElBMVEXqAAD8oaH/AAD/ra3/vr7///91+I/7AAAAQklEQVR42oXPwQoAIAgD0JXu/385FfTQgnYweKAp9pUXmE+swAFWAG8owQBTqjQQ8SQOcAdRQVtkqHy7dDFd/X/tAVqqAopyUfkOAAAAAElFTkSuQmCC);
    cursor: pointer;
}
.image{
    opacity: 0;
    display: block;
}
 .tag-list{
     margin-left: 5px;
     margin-top: 5px;
 }
.tag-description{
    display: inline-block;
    float: left;
    background-color: darkgray;
    color: white;
    margin-left: 10px;
}
 .tag-additing{
     display: none;
 }
